<div class="container mt-5 mb-5">
  <h2 class="text-center">検索結果</h1>
  <% if @records.present? %>
    <div class='row mx-auto' style="display: flex;flex-wrap: wrap; width: 100%;">
      <% @records.each do |record| %>
        <% if record.is_a?(Post) %>
        <div class="col-10 col-md-3">
            <div class="card mt-4 shadow-lg" style="width: 100%; height: 300px; overflow-y: auto;">
              <%= link_to post_path(record) do %>
                <%= image_tag record.get_image, class:"card-img-top" %>
              <% end %>
              <div class="card-body" style="max-height: 200px;">
                <%= image_tag record.user.get_profile_image(40,40), class:"mt-2 rounded-circle" %>
                <p class="card-text">caption：<%= record.caption %></p>
                <span> <%= record.user.name %> ｜ </span>
                <span><%= "#{record.comments.count} コメント" %></span>
              </div>
            </div>
          </div>
          <% elsif record.is_a?(User) %>
            <div class="user">
              <h3><%= link_to record.name, user_path(record) %></h3>
            </div>
          <% end %>
        <% end %>
    </div>
  <% else %>
    <p>No results found.</p>
  <% end %>
</div>
