<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">投稿</h2>
      <div class="form-body p-4">
        <%= form_with model: @post do |f| %>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image, class: "form-control-file image", accept: 'image/*' %>
          </div>

          <!--画像プレビュー表示-->
          <div id="preview-image"></div>

          <div class="form_group">
            <%= f.label :address,"スポット名" %>
            <%= f.text_field :address, class: "form-control address" %>
          </div>

          <div class="form_group">
            <%= f.label :latitude,"緯度" %>
            <%= f.text_field :latitude, placeholder: "緯度", id: :latitude, class: "form-control latitude" %>
          </div>

          <div class="form_group">
            <%= f.label :longitude,"経度" %>
            <%= f.text_field :longitude, placeholder: "経度", id: :longitude, class: "form-control longitude" %>
          </div>

          <div class="form-group">
            <%= f.label :caption %>
            <%= f.text_area :caption, placeholder: "キャプションをここに\n#ハッシュタグ", class: "form-control caption" %>
            <div class="form-helper"></div>
          </div>

          <div class="form-group">
            <%= f.submit 'Create Post', class: "btn btn-outline-primary" %>
          </div>

        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Map</h2>

      <input id="address" type="textbox" placeholder="スポット名または住所を入力してください" style="width: 500px;">
      <input type="button" value="検索" onclick="codeAddress()" style="width: 100px;">
      <p class="text-center">マーカーをドラック＆ドロップで位置の調整ができます。<p>
      <div id='map'></div>
    </div>

    <style>
      #map {
        height: 600px;
        width: 600px;
      }
    </style>

    <script>
        //初期マップの設定
        let map
        let marker
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center:  {lat: 35.6803997, lng:139.7690174},  //東京
            zoom: 15,

          });
        }

        let geocoder
        let aft
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
                //マーカーが複数できないようにする
                if (aft == true){
                    marker.setMap(null);
                }

                //新しくマーカーを作成する
                map.setCenter(results[0].geometry.location);
                    marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true	// ドラッグ可能にする
                });

                //二度目以降か判断
                aft = true

                //検索した時に緯度経度を入力する
                document.getElementById('latitude').value = results[0].geometry.location.lat();
                document.getElementById('longitude').value = results[0].geometry.location.lng();

                // マーカーのドロップ（ドラッグ終了）時のイベント
                google.maps.event.addListener( marker, 'dragend', function(ev){
                    // イベントの引数evの、プロパティ.latLngが緯度経度
                    document.getElementById('latitude').value = ev.latLng.lat();
                    document.getElementById('longitude').value = ev.latLng.lng();
                });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
    </script>

  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>

<!--Google Place用-->
<!--<script-->
<!--    src="https://maps.googleapis.com/maps/api/js?key=<%#= ENV['SECRET_KEY'] %>&language=ja&libraries=places">-->
<!--</script>-->
