<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header bg-white border-bottom-0">
          <%= image_tag @user.get_profile_image(100,100), class:"rounded-circle", width: "50", height: "50" %>
          <span class="h5 ml-3 mb-0"><%= @user.name %></span>
        </div>
        <div class="card-body">
          <table class="table mb-0">
            <tbody>
              <tr>
                <td class="border-top-0"><strong>Name</strong></td>
                <td class="border-top-0"><%= @user.name %></td>
              </tr>
              <tr>
                <td><strong>Profile</strong></td>
                <td><%= @user.profile %></td>
              </tr>
              <tr>
                <th>会員ステータス</th>
                <% if @user.user_status == true %>
                  <td>有効</td>
                <% else %>
                  <td>退会</td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="card-footer bg-white text-right">
            <%= link_to "編集", edit_admin_user_path(@user), class:"btn btn-outline-secondary" %>
            <%= link_to "投稿一覧", admin_post_path(@user.id), class: "btn btn-outline-secondary" %>
          </div>
      </div>
    </div>
  </div>
</div>